body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

#side {
  min-height: 100vh;
}

#left-side {
  width: 30vw;
  min-width: 30vw;
  min-height: 100vh;
  float: left;
  border: 2px solid #000000;
}

#right-side {
  margin-left: 30vw;
  width: 70vw;
  max-width: 70vw;
  min-height: 100vh;
  background-image: url("/farm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid #000000;
}

#top-left {
  height: 50vh;
  border: 2px solid #000000;
}

.selector {
  width: 9.9vw;
  height: calc(50vh / 3);
  float: left;
  background: lightgray;
  color: #000000;
}

.selector > img {
  width: 4.5vw;
  pointer-events: none;
}

.farm-selector > img {
  pointer-events: none;
}

.selected {
  background: #a0a0a0;
}

#farm {
  margin-top: 25vh;
  margin-inline: auto;
  width: 100vh;
  max-width: 100vh;
  min-height: 50vh;
  border: 2px solid #000000;
}

.farm-selector {
  width: calc(50vh / 3);
  height: calc(50vh / 3);
  border: 0;
  float: left;
  background-image: url("/grid-empty.png");
  background-size: cover;
  color: #000000;
}

.farm-selector:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/grid-empty.png");
}
