body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

#side {
  min-height: 100vh;
}

#left-side {
  width: 30vw;
  min-width: 30vw;
  min-height: 100vh;
  float: left;
}

#right-side {
  margin-left: 30vw;
  width: 70vw;
  max-width: 70vw;
  min-height: 100vh;
  background-image: url("/farm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border: 0.0001px solid #000000;
}

#top-left {
  height: calc(100vh - 100vh / 3);
}

.selector {
  width: 10vw;
  height: calc(50vh / 3);
  float: left;
  background: lightgray;
  color: #000000;
}

.selector > img {
  width: 4.5vw;
  pointer-events: none;
}

.farm-selector > img {
  pointer-events: none;
}

.selected {
  background: #a0a0a0;
}

#farm {
  margin-top: 25vh;
  margin-inline: auto;
  width: 100vh;
  max-width: 100vh;
  min-height: 50vh;
}

.farm-selector {
  --tile-url: url("/grid-trash.png");
  width: calc(50vh / 3);
  height: calc(50vh / 3);
  border: 0;
  float: left;
  background-image: var(--tile-url);
  background-size: cover;
  color: #000000;
  position: relative;
}

.farm-selector:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--tile-url);
}

.farm-selector:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--tile-url);
}

#tile-action {
  position: absolute;
  height: 10vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
