body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#side {
  min-height: 100vh;
}

#left-side {
  width: 30vw;
  min-width: 30vw;
  min-height: 100vh;
  float: left;
  border: 2px solid #000000;
}

#right-side {
  margin-left: 30vw;
  width: 70vw;
  max-width: 70vw;
  min-height: 100vh;
  border: 2px solid #000000;
}

#top-left {
  height: 50vh;
  border: 2px solid #000000;
}
